<html>
{% load static %}
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<title>web page</title>

			{% include "navbar.html" %}
<style>

.slider
{




}


.sonu
{
 text-align:center;
text-decoration:italic;
text-color:red;
font-size:15px;
color:red;
position:absolute;

}
.sonu1
{
 text-align:center;
text-decoration:italic;
text-color:red;
font-size:35px;
color:black;

}
.sonu2
{
 text-align:center;
text-decoration:italic;
text-color:red;
font-size:22px;
color:lightblack;

}



</style>
</head>
<body>


		<div class="slider">
			<img src="{% static 'images/Hotel-7-double-bedroom.jpg' %}" height="800px" width="1540px">

				</div>
		<div class="sonu">
				<h1>Thank you!</h1>

		</div>

		<div class="sonu1 inline">
		<b>Your order is confirmed!</b>
		<br/>
			<div class="sonu2">

			<p>You will be receiving a confirmation email with order details </p>

			</div>



	</div>





</body>
</html>
