<html>
{% load static %}
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<title>web page</title>

			{% include "navbar.html" %}
    <style>
    .outer
{
height:500px;
width:1000px;
border:3px solid black;
margin:0px auto;
}

.outer img
{
height:450px;
width:400px;

}

.product2
{
    height:500px;
    width:496px;
    float:right;
    border:1px solid black;
    text-align:center;
}
.product
{
    height:500px;
    width:496px;
    float:left;
    border:1px solid black;
}
</style>
</head>
<body>

        <div class="outer">
            <div class="product"><img src="{{product.image.url}}"></div>
         <!--       <br/>
                <h5>{{product.name}}</h5><br/>
{{product.price}}<br/>
<!--{{product.image.url}}<br/>
{{product.desc}}<br/>
{{customer.address}}<br/>
{{customer.pincode}}<br/>-->

        <div class="product2">
            <br/>
            <p>Product Name:<h5>{{product.name}}</h5></p>
            <p>Product Price:<h5>{{product.price}}</h5></p>
<!--{{product.image.url}}-->
            <p><h5>{{product.desc}}</h5>
<!--{{customer.address}}
    {{customer.pincode}}--></p>





   <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <input type="text" name="productid" value="{{product.id}}" hidden>
             Email: <input type="text" name="email" value="{{customer.emailaddress}}" ><br/><br/>
            Price: <input type="text" name="price" value="{{product.price}}"><br/><br/>
        Address:<input type="text" name="address" value="{{customer.address}}"><br/><br/>
       PinCode: <input type="text"  name="pincode" value="{{customer.pincode}}" ><br/><br/>
        Quantity <input type="number"  name="quantity" value="1"><br/><br/>

        <button type="submit" class="btn btn-warning float-end">Checkout</button>

    </form>
        </div>
    </div>
</body>
</html>
