{% load static %}

 <div class="row">
          <div class="header">
            <div class="header2">

            <ul>

                <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}">HOME</a>
                              </li>
                 <li class="nav-item">
                                <a class="nav-link" href="{% url 'rd' %}">ROOM DETAILS</a>
                              </li>
                <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog' %}">BLOG</a>
                              </li>
                <li class="nav-item">
                                <a class="nav-link" href="{% url 'room10' %}">CONTACT AS</a>
                              </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rd' %}">BOOK ONLINE</a>
                              </li>
                 <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">ABOUT AS</a>
                              </li>

              </ul>







            </div>
          </div>
        </div>
